* {
  margin: 0px;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #070606;
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
  border-radius: 50px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topo {
  background: url(Imagens/bg-home.jpg);
  position: absolute;
  width: 119%;
  height: 150%;
  left: -250px;
  top: 0px;
}

.topo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo {
  position: relative;

  width: 178px;
  height: 178px;
  left: -10px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  position: relative;
  color: #ffffff;
  margin-left: -10px;
  margin-right: 50px;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  top: -380px;
  left: 60px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
}
.lista {
  display: flex;
  list-style: none;
  position: relative;
  left: 60px;
  top: 3px;
}
.lista li a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.lista li a:hover {
  opacity: 0.7;
}

.lista li {
  text-decoration: none;
  letter-spacing: 2px;
  margin-left: 32px;
  font-family: "Montserrat";
  font-style: normal;
}

.search-box {
  position: relative;
  top: 0px;
  left: 20px;
}

.search-box input[type="text"] {
  width: 250px;
  padding: 3px;
  border-radius: 3px;
  border: none;
  background-color: #cccccc;

  opacity: 50%;
}

.search-box button[type="submit"] {
  border-radius: 3px;
  border: none;
  background-color: #1b727800;
  color: #ffffff;
  cursor: pointer;
}

.search-box ::placeholder {
  color: #ffffff;
}
.Search-icon {
  position: relative;
  top: 5px;
  width: 23px;
  height: 23px;
}

hr {
  color: #ffffff;
  position: relative;
  top: -450px;
  width: 1020px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  left: 190px;
  font-family: "Montserrat";
  font-style: normal;
}

.conteudo-topo ::after {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.conteudo-left {
  position: relative;
  width: 500px;
  height: 0px;
  left: -307px;
  top: 5px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}
.conteudo-left h3 {
  text-align: center;
  position: relative;
  right: -25px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
  top: 250px;
}

.conteudo-left h1 {
  font-size: 140.118px;
  margin: 0;
  line-height: 95%;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 3px;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.conteudo-right {
  position: relative;
  top: 265px;
  left: 300px;
}

.meio {
  position: absolute;
  width: 100%;
  height: 175%;
  left: 0px;
  top: 940px;
  padding: 200px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;

  background: #070606;
}

.meio h1 {
  position: relative;
  top: -600px;
  font-size: 50px;
}
.meio h3 {
  position: relative;
  top: -600px;
  right: 2px;
  font-weight: lighter;
  font-size: 32px;
}

.final {
  margin-top: 0;
  position: absolute;

  top: 1733px;
}

.titulo {
  position: relative;
  top: 250px;
}
.cards {
  position: relative;
  top: -300px;
  display: flex;
  align-items: center;
}
.cards img {
  border: 1px solid rgb(51, 51, 51);
}
.paris {
  position: relative;
  width: 286px;
  height: 500px;
  border-radius: 10px;
  transition: transform 0.3s;
  left: -15px;
}

.paris:hover {
  transform: scale(1.05);
  border: 3px red solid;
}
.new-york {
  position: relative;
  width: 286px;
  height: 500px;
  border-radius: 10px;
  transition: transform 0.3s;
  right: 5px;
}
.new-york:hover {
  transform: scale(1.05);
  border: 3px red solid;
}

.stonehedge {
  position: relative;
  width: 286px;
  height: 500px;
  right: -10px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.stonehedge:hover {
  transform: scale(1.05);
  border: 3px red solid;
}

.grecia {
  position: relative;
  width: 286px;
  height: 500px;
  right: -15px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.grecia:hover {
  transform: scale(1.05);
  border: 3px red solid;
}

.imgfn {
  width: 100%;
  height: 70%;
}

.footer {
  margin-top: 2150px;
  width: 84.6%;
  height: 20%;
  padding: 4px 101.3px;
  background-color: #070606;
  display: flex;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-items: center;
}
.logo-footer h1 {
  position: relative;
  color: #ffffff;
  margin-left: -10px;
  margin-right: 50px;
  font-size: 30px;
}
.logo-footer {
  position: relative;

  width: 128px;
  height: 128px;
  left: 50px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.35));
}

.footer h3 {
  color: #ffffff;
  font-weight: lighter;
  font-size: 15px;
  position: relative;
  left: -90px;
  top: 45px;
}

.footer-right {
  position: relative;
  display: flex;
  left: 500px;
  top: 38px;
}

.instagram {
  position: relative;
  left: -50px;
}

.youtube {
  position: relative;
  left: -2px;
}

.facebook {
  position: relative;
  right: -22px;
}
